
/*

  NORMALIZE

*/


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  color: white;
}

html{
  scroll-behavior: smooth;
}

ol, ul, li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

a{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

button,
input{
  background-color: transparent;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  color: #FFFFFF;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FFFFFF;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFFFFF;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #FFFFFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #FFFFFF;
}

::placeholder { /* Most modern browsers support this now. */
  color:    #FFFFFF;
}

form{
  max-width: 100px;
}



body{
  font-family: 'Open-sans', sans-serif;
  font-weight: 600;
  background-color: black;

}

.container{
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 15px;
}

.main{
  flex: 1 0 auto;
  padding-top: 100px;
}

.footer{
  flex: 0 0 auto;
  padding: 60px 0px 60px 0px;
}

section{
  padding: 125px 0px 125px 0px;
}

.wrapper{
  overflow: hidden;
}


/*

  NORMALIZE

*/








/*

  HEADER

*/

.header{
  position: relative;
  padding: 65px 85px 100px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 2573px;
  top: -450px;
  left: 0px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
  .logo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
  }

  .nav{
    max-width: 350px;
    width: 100%;
  }
  .nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__list-item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
  }


  .search__box{
    display: flex;
  }
    .search__ico{
      margin-right: 17px;
    }

/*

  HEADER

*/




/*

  HERO

*/

.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 240px;
}

.side__bar-links{
  position: absolute;
  content: "";
  top: 190px;
  left: 80px;
  img{
    margin-bottom: 25px;
  }
}



.hero__descr{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 6px;
  text-transform: uppercase;

  color: #FFC178;

  margin-left: 104px;
  position: relative;
}

.hero__descr::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  background: #FFC178;
  top: 13px;
  left: -104px;
}


.hero__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;

  color: #FFFFFF;
  margin-bottom: 125px;
  margin-top: 32px;

  span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 100px;

    color: #FFFFFF;
  }
}


.scroll__box{
  display: flex;
  justify-content: center;
  p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    margin-right: 9px;
  }
}


/*

  HERO

*/




/*

  ENJOY

*/


.enjoy{
  padding-top: 340px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.enjoy__content{
  margin-left: 230px;
}
  .enjoy__span{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 104px;
    position: relative;
    margin-bottom: 27px;
  }

.enjoy__span::before {
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  background: #FFC178;
  top: 13px;
  left: -104px;
}
  .enjoy__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    margin-bottom: 27px;

    color: #FFFFFF;
  }

  .enjoy__descr{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;
    margin-bottom: 27px;
  }
  .read__box{
    align-items: center;
    display: flex;
    a{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;

      color: #FBD784;
      margin-right: 20px;
    }
    img{
      transform: rotateZ(-90deg);
    }
  }





/*

  ENJOY

*/




/*

  STEP

*/



.step{

}

.prevBtn{
  position: absolute;
  top: 467px;
  left: 39px;
  background-image: url("../img/ar-right.svg");
  width: 13px;
  height: 20px;
  cursor: pointer;
  transform: rotate(180deg);
}
.nextBtn{
  position: absolute;
  top: 467px;
  right: 39px;
  background-image: url("../img/ar-right.svg");
  width: 13px;
  height: 20px;
  cursor: pointer;
}

.slider__item{
  min-width: 1461px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  padding: 533px 305px 41px 305px;

  background-image: url("../img/item.jpg");
  background-size: cover;

}


.slider{
  position: relative;
  width: 1461px;
  height: 985px;
  overflow: hidden;
}

.track{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  transition: .5s;
}




.item__span{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  position: relative;

  letter-spacing: 6px;
  text-transform: uppercase;


  color: #FBD784;
}


.item__span::before {
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  background: #FFC178;
  top: 11px;
  left: 500px;
}

.item__span::after {
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  background: #FFC178;
  top: 11px;
  left: 242px;
}
.item__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  color: #FFFFFF;
  margin-bottom: 27px;
}

.item__descr{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-align: center;

  color: #FFFFFF;
  margin-bottom: 27px;
  margin-bottom: 40px;
}





.item__box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item__box a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
  margin-right: 20px;
}

.item__box img {
  transform: rotateZ(-90deg);
}



/*

  STEP

*/







/*

  ENJOY

*/










.culture{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}


.culture__content{
  margin-right: 230px;
}
.culture__span{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
  margin-left: 104px;
  position: relative;
  margin-bottom: 27px;
}

.culture__span::before {
  position: absolute;
  content: "";
  width: 72px;
  height: 1px;
  background: #FFC178;
  top: 13px;
  left: -104px;
}
.culture__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 27px;

  color: #FFFFFF;
}

.culture__descr{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  color: #FFFFFF;
  margin-bottom: 27px;
}
.culture__box{
  align-items: center;
  display: flex;
  a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #FBD784;
    margin-right: 20px;
  }
  img{
    transform: rotateZ(-90deg);
  }
}





/*

  ENJOY

*/







/*

  FOOTER

*/



.footer{
  text-align: center;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
  .footer__top{
    margin-bottom: 55px;

    display: flex;
    justify-content: space-between;
  }




    .logo{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      letter-spacing: 0.01em;
      text-transform: capitalize;

      /* Weiß */

      color: #FFFFFF;

    }


    .gett{

    }
      .ready{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        /* identical to box height */

        letter-spacing: -0.3px;

        color: #FFFFFF;
      }
      .get{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;

        color: #000000;

        background: #FFA343;
        border-radius: 8px;

        padding: 24px 80px;
        margin-left: 125px;
      }










  .footer__center{
    margin-bottom: 141px;

    display: flex;
    justify-content: space-between;
  }
    .vacation{

    }
      .vacation__descr{
        max-width: 361px;
        margin-bottom: 50px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: -0.3px;

        color: #FFFFFF;
      }

      .form{
        input{
          padding: 19px 117px 31px 14px;
          border-bottom: 1px solid #FFFFFF;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          /* identical to box height */

          opacity: 0.5;

          letter-spacing: -0.204545px;

          color: #FFFFFF;
        }
        form{
          display: flex;
          flex-direction: row;
        }
      }

      .form__btn{
        background: #FFA343;
        border-radius: 8px 8px 0px 0px;
        padding: 28px;
        background-image: url("../img/black__arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
      }



    .info{
      display: flex;
      justify-content: space-between;
    }

      .service__block{
        display: flex;
        flex-direction: column;
        margin-right: 210px;
      }
        .services__list{
          display: contents;
        }
          .services__item{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 0px;
            /* identical to box height, or 0% */

            letter-spacing: -0.231818px;


            color: #FFD1A0;
            margin-bottom: 45px;
          }
          .services__item a{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 0px;
            /* identical to box height, or 0% */

            letter-spacing: -0.204545px;

            color: #FFFFFF;
          }

  .about__block{
    display: flex;
    flex-direction: column;
    margin-right: 210px;
      }
        .about__list{
          display: contents;
        }
          .about__item{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 0px;
            /* identical to box height, or 0% */

            letter-spacing: -0.231818px;

            color: #FFD1A0;
            margin-bottom: 45px;
          }
          .about__item a{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 0px;
            /* identical to box height, or 0% */

            letter-spacing: -0.204545px;

            color: #FFFFFF;
          }
      .help__block{
        display: flex;
        flex-direction: column;
      }
        .help__list{
          display: contents;
        }
          .help__item{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 0px;
            /* identical to box height, or 0% */

            letter-spacing: -0.231818px;

            color: #FFD1A0;
            margin-bottom: 45px;
          }
            .help__item a{
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 0px;
              /* identical to box height, or 0% */

              letter-spacing: -0.204545px;

              color: #FFFFFF;
            }







.footer__bottom{
  display: flex;

}
  .policy{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: -0.204545px;

    color: #FFFFFF;
    display: flex;
    .terms{
      margin-right: 50px;
    }
  }
  .soc{
    img{
      margin-right: 50px;
    }
  }




.show{
  opacity: 1;
}






  .footer__bottom{
    margin-bottom: 161px;

    justify-content: space-between;
  }






  .copyright{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    text-align: center;

    color: #FFFFFF;

    opacity: 0.5;
  }




/*

    FOOTER

*/






